REDDIT_CLIENT_ID=your_client_id
REDDIT_CLIENT_SECRET=your_client_secret
REDDIT_USERNAME=your_reddit_username
REDDIT_PASSWORD=your_reddit_password
REDDIT_USER_AGENT=GuideAtlasGuideInviter/0.1 by u/your_reddit_username

GUIDE_SIGNUP_URL=https://guideatlas.co/become-a-guide
INVITE_SUBJECT_TEMPLATE=Invitation to test GuideAtlas in {city}
INVITE_MESSAGE_TEMPLATE=Hi u/{username}, we are inviting independent guides in {city} to test GuideAtlas. Join here: {signup_url}

REDDIT_DAILY_INVITE_LIMIT=50
DAILY_USAGE_RATIO=0.90
MAX_INVITES_PER_RUN=100
MIN_SECONDS_BETWEEN_INVITES=12
MAX_SECONDS_BETWEEN_INVITES=24
TARGET_CITIES=

LEADS_FILE=
STATE_FILE=
LOG_FILE=
