GITHUB_TOKEN=ghp_replace_me
GITHUB_REPO=RodmanPT/guideatlas
GITHUB_BRANCH=main
GUIDEATLAS_HOST_PATH=/volume1/Server/GuideAtlas
MIN_NEW_CITIES_PER_RUN=1
MAX_NEW_CITIES_PER_RUN=2
UNSPLASH_ACCESS_KEY=unsplash_access_key_here
